[user]
	name = Saya
	email =
[color]
# colorの設定(以下のコマンドは自動で色つける)
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
	ui = auto
[alias]
    st = status
    br = branch
    sh = show
    so = remote show origin
    ft = fetch
    up = pull --rebase       # pull rebase
    rbm = rebase master      # masterへのrebaseはよく使うのでalias
    ad = add
    ai = add -i
    ci = commit -v           # 差分を表示
    cam = commit -a --amend  # 直前のcommitを修正
    pa = push --all  # 全部push
    pdr = push --dry-run  # 全部push
    co = checkout
    mg = merge
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    delete-remote-merged-branches = !git branch -a --merged | grep -v master | grep remotes/origin| sed -e 's% *remotes/origin/%%' | xargs -I% git push origin :%
# logをtree表示
    lp = log -p
    log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
    log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
# diff関連
    dm = diff master           # masterとのdiff
    dw = diff --color-words    # 単語単位でいろつけてdiff
    dc = diff --cached         # addされているものとのdiff
    ds = diff --staged         # 同上(1.6.1移行)
    d1 = diff HEAD~            # HEADから1つ前とdiff
    d2 = diff HEAD~~           # HEADから2つ前とdiff
    d3 = diff HEAD~~~          # HEADから3つ前とdiff
    d4 = diff HEAD~~~~         # HEADから4つ前とdiff
    d5 = diff HEAD~~~~~        # HEADから5つ前とdiff
    d10 = diff HEAD~~~~~~~~~~  # HEADから10前とdiff
[merge]
    ff = false
[core]
	editor = vim
    excludesfile = ~/.gitignore
[http]
	sslVerify = false
